{% extends "base/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/account/register.css" %}">
{% endblock css %}

{% block content %}
    <form class="login-box" action="{% url "account:pw_confirm" reset_user.id %}" method="post">
        {% csrf_token %}
        <input type="password" name="new_password1" placeholder="New Password">
        <input type="password" name='new_password2' placeholder="Repeat New Password">
        <input type="submit" value="Reset">
    </form>
{% endblock content %}