{% extends "base/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/account/register.css" %}">
{% endblock css %}

{% block content %}
    <form class="login-box" action="{% url "account:update" user.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name='nickname' {% if user.nickname %}value={{ user.nickname }}{% endif %} placeholder="Nickname">
        <input type="text" name='phone' {% if user.phone %}value={{ user.phone }}{% endif %} placeholder="phone">
        <input type="text" name='introduce' {% if user.introduce %}value={{ user.introduce }}{% endif %} placeholder="Introduce">
        <input type="file" class="form-control" id="inputGroupFile03" name="user_image" aria-describedby="inputGroupFileAddon03" aria-label="Upload" >
        <input type="submit" value="Update">
    </form>
{% endblock content %}