:root {
    --goods-sm-wid : 80vw;
    --goods-md-wid : 60vw;
    --goods-lg-wid : 50vw;
}

button{
    border: none;
    background-color: inherit;
}

.goods-box {
    width: 100vw;
    height: 100%;
}

.goods-item {
    width: var(--goods-sm-wid);
    height: 100%;

    padding: 5px;
    margin: 0 auto ;

    border: 1px #F5F5F5 solid;

    background-color: white;
}

.goods-creator-box {
    width: var(--goods-sm-wid);
    line-height: 40px;

    display: flex;
}

.dropdown {
    margin: 0 10px 0 auto
}

.dropdown-menu li {
    border-top: 1px #F5F5F5 solid;
    border-bottom: 1px #F5F5F5 solid;
    margin: 5px 0;
    padding-left: 5px;
}

.goods-creator-box > img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 10px;
}

.design-box {
    height: 200px;

    margin: 10px auto;
    position: relative;

    display: flex;
    flex-direction: row;

    overflow: scroll;
}

.design-img {
    width: var(--goods-sm-wid);
    height: 200px;

    object-fit: contain;
}

.prev {
    position: absolute;
    top: 90px;
    left: 1px;
}

.next {
    position: absolute;
    top: 90px;
    right: 0;
}


.goods-nav {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.goods-nav a{
    cursor: pointer;
}

.comment-topbar {
    border-top: 1px #F5F5F5 solid;
    border-bottom: 1px #F5F5F5 solid;
}

.comment-item {
    display: flex;
}

.comment {
    margin-right: auto;
}

.recomment-item {
    display: flex;
}

.recomment {
    margin-right: auto;
    text-indent: 2rem;
}

.comment-create-box {
    width: var(--goods-sm-wid);
    margin-top: 10PX;
}

.comment-create-box input {
    width: calc(var(--goods-sm-wid) - 30px);
    border: 1px #F5F5F5 solid;
}

.recomment-create-box {
    text-indent: 2rem;
    display: none;
    visibility: hidden;
}

.recomment-create-box input{
    border: 1px #F5F5F5 solid;
}

@media screen and (min-width: 768px) {
    .goods-item {
        width: var(--goods-md-wid);
    }

    .design-img {
        width: var(--goods-md-wid);
    }

    .goods-creator-box {
        width: var(--goods-md-wid);
    }

    .comment-create-box {
        width: var(--goods-md-wid);
        margin-top: 10PX;
    }

    .comment-create-box input {
        width: calc(var(--goods-md-wid) - 30px);
        border: 1px #F5F5F5 solid;
    }

}

@media screen and (min-width: 1024px) {
    .goods-item {
        width: var(--goods-lg-wid);
    }

    .design-img {
        width: var(--goods-lg-wid);
    }

    .goods-creator-box {
        width: var(--goods-lg-wid);
    }

    .comment-create-box {
        width: var(--goods-lg-wid);
        margin-top: 10PX;
    }

    .comment-create-box input {
        width: calc(var(--goods-lg-wid) - 30px);
        border: 1px #F5F5F5 solid;
    }

}