{% extends "base/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/base/home.css" %}">
{% endblock css %}

{% block content %}
    {% if not user.is_authenticated %}
        <form class="login-box" action="{% url "account:login" %}" method="post">
            {% csrf_token %}
            <input type="text" name="email" id="email" placeholder="이메일">
            <input type="password" name="password" id="password" placeholder="비밀번호">
            <input type="submit" value="로그인">
            <div class="account-nav">
            <p>회원이 아니신가요? <a href="{% url "account:register" %}">회원가입</a></p>
            <p>비밀번호가 기억이 안나시나요? <a href="{% url "account:pw_reset" %}">비밀번호 초기화</a></p>
        </div>
        </form>
    {% else %}
        <form action="{% url "home" %}" method="post" class="d-flex" role="search">
            {% csrf_token %}
            <input class="form-control me-2" type="search" name="word" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="goods-box">
            {% for goods in goods_list %}
                <div class="goods-item">
                    <div class="goods-creator-box">
                        <img src="media/{{goods.creator.user_image}}" alt="">
                        <a href="{% url "account:main" goods.creator.id %}">{{ goods.creator }}</a>
                        {% if goods.creator == user %}
                            <div class="dropdown">
                                <button type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    ···
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url "goods:goods_update" goods.id %}">edit</a></li>
                                    <li>
                                        <form class="dropdown-item" action="{% url "goods:goods_delete" goods.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit">Delete</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                    <div class="design-box">
                        {% for design in goods.design.all %}
                            <div>
                                <img class="design-img" src="/media/{{ design.design }}">
                            </div>
                        {% endfor %}
                        <a class="prev"><i class="fa-solid fa-circle-chevron-left"></i></a>
                        <a class="next"><i class="fa-solid fa-circle-chevron-right"></i></a>
                    </div>
                    <div class="goods-nav">
                        <a>
                            <span onclick="sendRequest({{ goods.id }}, this)">{% if user.nickname in goods.like_list %}<i style="color:red;" class="fa-solid fa-heart"></i>{% else %}<i style="color:red;" class="fa-regular fa-heart"></i>{% endif %}</span>
                        </a>
                        <a href="{% url "goods:goods_detail" goods.id %}">
                            <span><i style="color:blue;" class="fa-solid fa-comment"></i></span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <script>
            function sendRequest(bid, event) {
                var httpRequest = new XMLHttpRequest();
                var like_count = document.getElementById(bid+"_like_count");

                httpRequest.onreadystatechange = function() {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                        var json_data = JSON.parse(httpRequest.responseText);
                        if (json_data["message"]=="unlike") {
                            event.innerHTML = '<i style="color:red;" class="fa-solid fa-heart"></i>';
                        } else {
                            event.innerHTML = '<i style="color:red;" class="fa-regular fa-heart"></i>';
                        }
                    }
                };

                httpRequest.open("GET", "/goods/"+bid+"/like/", true);
                httpRequest.send();
            }
        </script>
    {% endif %}
{% endblock content %}