{% extends "base/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/goods/goods_detail.css" %}">
{% endblock css %}

{% block content %}
        <div class="goods-box">
            <div class="goods-item">
                <div class="design-box">
                    {% for design in goods.design.all %}
                        <div>
                            <img class="design-img" src="/media/{{ design.design }}">
                        </div>
                    {% endfor %}
                    <a class="prev"><i class="fa-solid fa-circle-chevron-left"></i></a>
                    <a class="next"><i class="fa-solid fa-circle-chevron-right"></i></a>
                </div>
                <div class="goods-nav">
                    <span onclick="sendRequest({{ goods.id }}, this)">{% if user.nickname in goods.like_list %}<i style="color:red;" class="fa-solid fa-heart"></i>{% else %}<i style="color:red;" class="fa-regular fa-heart"></i>{% endif %}</span>
                </div>
                <div class="goods-creator-box">
                    {% if goods.description %}
                        <a href="{% url "account:main" goods.creator.id %}">{{ goods.creator }}</a>
                        <p class="goods-description-box">
                            &nbsp;:&nbsp;{{ goods.description }}
                        </p>
                    {% endif %}
                    {% if goods.creator == user %}
                        <div class="dropdown">
                            <button type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                ···
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url "goods:goods_update" goods.id %}">edit</a></li>
                                <li>
                                    <form class="dropdown-item" action="{% url "goods:goods_delete" goods.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit">Delete</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="comment-box">
                    <div class="comment-topbar">Comment</div>
                    {% if goods.comment.all %}
                        {% for comment in goods.comment.all %}
                            <div>
                                <div class="comment-item">
                                    <p class="comment">{{ comment.creator }} : {{ comment.content }} <span onclick="recomment();"><i class="fa-solid fa-share"></i></span></p>
                                    {% if comment.creator == user %}
                                        <form action="{% url "goods:comment_delete" comment.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit"><i class="fa-solid fa-delete-left"></i></button>
                                        </form>
                                    {% endif %}
                                </div>
                                {% if comment.recomment.first %}
                                    {% for recomment in comment.recomment.all %}
                                        <div class="recomment-item">
                                            <p class="recomment">{{ recomment.creator }} : {{ recomment.content }}</p>
                                            {% if recomment.creator == user %}
                                                <form action="{% url "goods:recomment_delete" recomment.id %}" method="post">
                                                    {% csrf_token %}
                                                    <button type="submit"><i class="fa-solid fa-delete-left"></i></button>
                                                </form>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <form class="recomment-create-box" action="{% url "goods:recomment_create" comment.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="content" >
                                    <button type="submit"><i class="fa-solid fa-arrow-up"></i></button>
                                </form>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form class="comment-create-box" action="{% url "goods:comment_create" goods.id %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="content" >
                        <button type="submit"><i class="fa-solid fa-arrow-up"></i></button>
                    </form>
                </div>
            </div>
        </div>

        <script>
            function sendRequest(bid, event) {
                var httpRequest = new XMLHttpRequest();
                var like_count = document.getElementById(bid+"_like_count");

                httpRequest.onreadystatechange = function() {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                        var json_data = JSON.parse(httpRequest.responseText);
                        if (json_data["message"]=="unlike") {
                            event.innerHTML = '<i style="color:red;" class="fa-solid fa-heart"></i>';
                        } else {
                            event.innerHTML = '<i style="color:red;" class="fa-regular fa-heart"></i>';
                        }
                    }
                };

                httpRequest.open("GET", "like/", true);
                httpRequest.send();
            }

            function recomment() {
                const target = event.target.parentNode.parentNode.parentNode.parentNode.lastElementChild;
                target.style.display = 'block';
                target.style.visibility = 'visible';
            }

        </script>
{% endblock content %}