{% extends "base/base.html" %}

{% block content %}
    [{{ goods.entertainer}}] - {{ goods.category }} <a href="{% url "goods:goods_update" goods.id %}">(수정)</a><br>
        creator : {{ goods.creator }} <br>
        description : {{ goods.description }} <br>
        <button onclick="sendRequest({{ goods.id }}, this)">{% if user.nickname in goods.like_list %}Unlike{% else %}Like{% endif %}</button>: <span id="{{goods.id}}_like_count">{{ goods.like_count }}</span> <br>
        design : <br>
        {% for design in goods.design.all %}
            <img src="/media/{{ design.design }}" alt="">
        {% endfor %}
        <br>
        {% if goods.comment.all %}
            comment : <br>
            {% for comment in goods.comment.all %}
                <p>
                    {{ comment.creator }} : {{ comment.content }}
                    <form action="{% url "goods:comment_delete" comment.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Delete">
                    </form>
                    {% if comment.recomment.all %}
                        {% for recomment in comment.recomment.all %}
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;{{ recomment.creator }} : {{ recomment.content }}
                            <form action="{% url "goods:recomment_delete" recomment.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Delete">
                            </form>
                        {% endfor %}
                    {% endif %}
                    <form action="{% url "goods:recomment_create" comment.id %}" method="post">
                        {% csrf_token %}
                        &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="content" >
                        <input type="submit" value="Recomment">
                    </form>
                </p>
            {% endfor %}
            <form action="{% url "goods:comment_create" goods.id %}" method="post">
                {% csrf_token %}
                <input type="text" name="content" >
                <input type="submit" value="Comment">
            </form>
        {% endif %}

        <script>
            function sendRequest(bid, event) {
                var httpRequest = new XMLHttpRequest();
                var like_count = document.getElementById(bid+"_like_count");

                httpRequest.onreadystatechange = function() {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                        var json_data = JSON.parse(httpRequest.responseText);
                        if (json_data["message"]=="unlike") {
                            event.innerText = "Unlike";
                            like_count.innerText = json_data["count"]
                        } else {
                            event.innerText = "Like";
                            like_count.innerText = json_data["count"]
                        }
                    }
                };

                httpRequest.open("GET", "like/", true);
                httpRequest.send();
            }
        </script>
{% endblock content %}