{% extends "base/base.html" %}

{% block content %}
    {% for goods in goods_list %}
        <hr>
        <a href="{% url "goods:goods_update" goods.id %}">{{ goods }}</a> <br>
        [{{ goods.entertainer}}] - {{ goods.category }} <br>
        creator : {{ goods.creator }} <br>
        description : {{ goods.description }} <br>
        like : {{ goods.like_count }} <br>
        design : <br>
        {% for design in goods.design.all %}
            <img src="/media/{{ design.design }}" alt="">
        {% endfor %}
        <form action="{% url "goods:goods_delete" goods.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete">
        </form>
    {% endfor %}
    <a href="{% url "goods:goods_create" %}">Add</a>
{% endblock content %}