.message-list {
    width: 300px;
    height: 100%;

    margin: 10px auto;

    border: 1px #F5F5F5 solid;
}

.my-message {
    margin-top: 10px;
    margin-right: 10px;
    text-align: right;
}

.oppnent-message {
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
}

.message-box {
    border: 1px lightgray solid;
    border-radius: 10px;
    padding: 5px;
}

.send-box {
    display: flex;
    position: absolute;
    bottom: 0;
}

#chat-message-input {
    width: 250px;
}

#chat-message-submit {
    width: 50px;
}