.message-list {
    width: 300px;
    height: calc(100% - 40px);

    margin: 0 auto;

    border: 1px #F5F5F5 solid;
}

.my-message {
    margin-top: 5px;
    margin-right: 10px;
    text-align: right;
}

.oppnent-message {
    margin-top: 5px;
    margin-left: 10px;
    text-align: left;
}

.message-box {
    border: 1px lightgray solid;
    border-radius: 10px;
    padding: 0 5px;
}

.send-box {
    line-height: 30px;
    display: flex;
    justify-content: center;
}

#chat-message-input {
    width: 250px;
}

#chat-message-submit {
    width: 50px;
}