{% extends "base/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/chat/room.css" %}">
{% endblock css %}

{% block content %}
    <div class="message-list" id="chat-log" cols="100" rows="20">
        {% for message in messages %}
            {% if message.sender == user %}
                <p class="my-message"><span class="message-box">{{ message.message }}</span></p>
            {% else %}
                <p class="oppnent-message"><span class="message-box">{{ message.message }}</span></p>
            {% endif %}
        {% endfor %}
        <div class="send-box">
            <input id="chat-message-input" type="text" size="100">
            <input id="chat-message-submit" type="button" value="Send">
        </div>
    </div>
    {{ room.id|json_script:"room-id" }}
    {{ user.id|json_script:"user-id" }}
    <script>
        const roomID = JSON.parse(document.getElementById('room-id').textContent);
        const userID = JSON.parse(document.getElementById('user-id').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomID
            + '/room/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            chatbox = document.querySelector('#chat-log');
            chatbox.innerHTML += data.user_id === userID ? '<p class="my-message"><span class="message-box">' + data.message + '</span></p>' : '<p class="oppnent-message"><span class="message-box">' + data.message + '</span></p>';
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'user_id': userID
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock content %}