{% extends "base/base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        username : {{ user.username }} <br>
        nickname : {{ user.nickname }} <br>
        phone : {{ user.phone }} <br>
        email : {{ user.email }} <br>
        introduce : {{ user.introduce }} <br>
        following : {{ user.following_count }} <br>
        follower : {{ user.followers_count }} <br>
        img : 
        <img src="media/{{ user.user_image }}" alt="">
        <form action="{% url "account:logout" %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Logout">
        </form>
        <a href="{% url "account:update" user.id %}">Update</a>
        <a href="{% url "account:pw_update" user.id %}">PW Update</a>
        <a href="{% url "account:pw_reset" user.id %}">PW Reset</a>
        <a href="{% url "goods:goods_list" %}">Goods</a>
    {% endif %}
{% endblock content %}